@model Book

@using(Html.BeginForm("Save", "Book", FormMethod.Post))
{
    <div class="mb-3">
        @Html.LabelFor(l => l.Title)
        @Html.TextBoxFor(t => t.Title, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(l => l.PublicationYear )
        @Html.TextBoxFor(t => t.PublicationYear , new { @class = "form-control" })
    </div>


    <div class="mb-3">
        @Html.LabelFor(l => l.AuthorId)
        @Html.DropDownListFor(d => d.AuthorId, new SelectList(ViewBag.Categories, "AuthorId", "Name"), "Seleccione un autor", new { @class = "form-select" })
    </div>

    @Html.ValidationSummary()

    <button class="btn btn-primary" type="submit">Guardar</button>
}